body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --main-black: #0B0B0C;
    --secondary-pink: #C51067;
    --main-pink: #C41067;

    --main-font: 'Montserrat', sans-serif;

    --html-bg: #CB4900;
    --css-bg: #008ECB;
    --js-bg: #FF9900;
    --ejs-bg: #5C2EE0;
    --node-bg: #2EE040;

    --boostrap-bg: #5C2EE0;
    --tailwind-bg: #15B179;
    --pico-bg: #F1EEF9;
    --red-bg: #E02E2E;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #c41067 #0b0b0c;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #0b0b0c;
}

*::-webkit-scrollbar-thumb {
    background-color: #c41067;
    border-radius: 10px;
    border: 3px solid #0b0b0c;
}

::selection {
    background: var(--main-pink);
    color: white;
    opacity: 20%;
}

body {
    background: var(--main-black);
    font-family: var(--main-font);
    color: white;
    overflow-x: hidden;
}

input {
    font-family: var(--main-font);
}

section {
    scroll-margin-top: 90px;
}

#loader{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: var(--main-black);
    z-index: 1001;
    display: grid;
    place-items: center;
}

@keyframes loaderFadeOut {
    from {
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.bta {
    background-color: var(--main-pink);
    display: grid;
    place-items: center;
    padding: 10px 20px;
    border-radius: 37px;
    color: white;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.mark {
    color: var(--secondary-pink);
}

.html-text {
    color: var(--html-bg) !important;
}

.css-text {
    color: var(--css-bg) !important;
}

.js-text {
    color: var(--js-bg) !important;
}

.ejs-text {
    color: var(--ejs-bg) !important;
}

.node-text {
    color: var(--node-bg) !important;
}


.skill-badge {
    display: grid;
    place-items: center;
    padding: 4px 20px;
    background: rgba(255, 255, 255, .1);
    border-radius: 23px;
    font-size: 1.2rem;
    transition: .2s ease;
    cursor: default;
    backdrop-filter: blur(10px);
}

.skill-badge:hover {
    transform: scale(1.2);
}

.skill-badge p {
    margin: 0;
}

a,
a:visited {
    color: white;
    text-decoration: none;

}

.flex-mobile {
    display: flex;
    gap: 40px;
    flex-direction: row;
}

ul li {
    list-style-type: none;
    margin-left: -40px;
}

ul li::before {
    content: '* ';
    color: var(--main-pink);
    position: relative;
    top: 3px;
}

.link-pink {
    color: var(--main-pink) !important;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.row-skills {
    gap: 10px;
    display: flex;
    align-items: stretch;
}

.tech-skills-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}

.tech-skill-card {
    padding: 30px;
    border-radius: 24px;
    border: 2px solid transparent;
    transition: .2s ease;
    position: relative;
    overflow: hidden;
}

.tech-skill-card::before {
    content: '';
    width: 20px;
    height: 700px;
    rotate: -30deg;
    background: #ffffff4d;
    position: absolute;
    bottom: -60px;
    left: -400px;
    transition: .7s ease-in;
    filter: blur(39px);
}

.tech-skill-card:hover::before {
    left: 100%;
}

.tech-skills-cards:hover>.row-skills>.tech-skill-card:not(:hover) {
    opacity: .3;
    filter: blur(2px);
}

.tech-skill-card.html {
    background: linear-gradient(#171718, #171718) padding-box,
        linear-gradient(to right, #cb4900, #e1e42f) border-box;
}

.tech-skill-card.css {
    background: linear-gradient(#171718, #171718) padding-box,
        linear-gradient(to right, #0D8BFF, #7000FF) border-box;
}

.tech-skill-card.js {
    background: linear-gradient(#171718, #171718) padding-box,
        linear-gradient(to right, #FFB800, #FFB800) border-box;
}

.tech-skill-card.nodejs {
    background: linear-gradient(#171718, #171718) padding-box,
        linear-gradient(to right, #00FF19, #00FFF0) border-box;
}

.tech-skill-card.other {
    background: linear-gradient(#171718, #171718) padding-box,
        linear-gradient(to right, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2)) border-box;
}

.tech-skill-card.php {
    background: linear-gradient(#171718, #171718) padding-box,
        linear-gradient(to right, #787CB4, #1622C0) border-box;
}

.tech-skill-desc {
    line-height: 2rem;
}

.tech-skill-keywords {
    color: #5F5F60;
}

.space-between {
    justify-content: space-between;
}

.experience-cards {
    margin-top: 40px;
}

.experience-card {
    display: flex;
    gap: 20px;
    width: 80%;
}

.logo-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.experience-info-position {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--main-pink)
}

.experience-company-logo {
    height: 60px;
    width: auto;
    border-radius: 5px;
}

.experience-info-company {
    color: #ffffff80;
    padding: 5px 10px;
    border: 1px solid #ffffff80;
    border-radius: 15px;
}

.experience-info-desc {
    line-height: 30px;

}

.company-infos {
    display: flex;
    gap: 10px;
    align-items: center;
}

.company-infos * {
    
    margin: 0;
}

.logo-col::after{
    content: '';
    border-left: 5px dotted #ffffff33;
    flex: 1;
}

.download-resume-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 20px;
    border-radius: 2rem;
    background-color: var(--secondary-pink);
    display: flex;
    align-items: center;
    gap: 5px;
}

@media screen and (min-width: 800px) {

    .desktop-only {
        display: inherit !important;
    }

    .mobile-only {
        display: none !important;
    }

    .main-padding {
        padding: 50px 100px;
    }
}

@media screen and (max-width: 800px) {
    .experience-card {
        width: 100%;
    }

    .desktop-only {
        display: none !important;
    }

    .case-desc {
        width: 100% !important;
    }

    #trailer {
        display: none !important;
    }

    .mobile-only {
        display: inherit !important;
    }

    .welcome {
        font-size: 2rem !important;
    }

    .main-padding {
        padding: 25px 20px;
    }

    .skill-badge {
        font-size: .9rem ;
    }

    .flex-mobile {
        flex-direction: column;
    }

    .about-content {
        flex-direction: column;
    }

    .about-content-desc {
        width: 100% !important;
    }

    .about-content-grid {
        flex-direction: column;
        margin-left: 0 !important;
    }

    .tech-skills-cards>.row-skills {
        flex-direction: column;
    }

    .tech-skill-card {
        opacity: .3;
    }

    .highlight {
        opacity: 1;
    }

    .tech-skill-card.highlight::before {
        left: 100%;
    }
    

    .case {
        display: flex !important;
        flex-direction: column;
    }

    section {
        scroll-margin-top: 60px;
    }

    footer>.container>img {
        height: 25px;
    }

    .made-with {
        font-size: .7rem;
    }
}