.navbar{
    display: flex;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
    position: fixed;
    justify-content: space-between;
    z-index: 1000;
    background: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
}

.effect-blur-navbar{
    position: absolute;
    top: 0;
    left: 0;
}

.logo-container {
    z-index: 999;
}

.menu-desktop{
    display: flex;
    gap: 30px
}


.menu-mobile{
    transform: translateX(100%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--main-black);
    z-index: 999;
    flex-direction: column;
    transition: .2s ease;
}

.menu-links{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 30vh;
    text-align: center;
}

.menu-links a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

.close-icon-container{
    position: absolute;
    top: 32px;
    right: 20px;
    font-size: 1.4rem;
}

.action-buttons-container.mobile{
    flex-direction: column;
    align-self: center;
    align-items: center;
    display: flex;
    margin-top: 80px;
}

.action-button{
    color: var(--main-pink);
    font-size: 1.5rem;
}

.mobile-icon-menu-container{
    font-size: 1.4rem;
}

.menu-container a{
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
    transition: .2s ease;
    font-size: 1em;
}

.menu-container a:hover{
    color: white;
}

.menu-container a.active{
    color: white;
}

.action-buttons-container{
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon-labeled{
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon-labeled p{
    color: white;
    font-size: 1rem;
}