.section-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section-title-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.section-info-title {
    color: white;
    margin: 0;
}

.section-info-tags {
    color: var(--secondary-pink);
    margin: 0;
}

.section-title::before {
    content: '*';
    color: var(--main-pink);
    font-size: 4rem;
    line-height: 0px;
    margin-top: 20px;
}

.section-search-area .search-bar {
    color: #fff;
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    background: #2b2a2a;
    outline: 0;
    transition: .2s ease;
    font-size: 1rem;
}

.section-search-area .search-bar:focus {
    outline: 1px solid var(--secondary-pink);
}

.about-section {
    max-width: 100vw;
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.about-content-desc {
    line-height: 30px;
    font-weight: 300;
    width: 50%;
}

.about-content-grid {
    display: flex;
    width: 100%;
    gap: 40px;
    margin-left: 50px;
}

.skill-title {
    color: var(--main-pink)
}

.skill-details {
    font-weight: 300;
    line-height: 30px;
}

.skill-card-lg {
    padding: 10px 40px;
    border-radius: 23px;
    width: fit-content;
}

.skill-card-sm {
    padding: 5px 10px;
    border-radius: 23px;
    width: fit-content;
}

.gap-10 {
    gap: 10px;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.repositories{
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-top: 25px;
}

.repository{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 25px 30px;
    justify-content: space-between;
    transition: .2s ease;
    cursor: pointer;
    background: rgba(23, 23, 24, .2);
    border-radius: 5px;
    border-left: 2px solid var(--main-pink);
}

.repository-owner{
    border-radius: 50%;
    height: 35px;
}

.repository-desc{
    color: rgba(255, 255, 255, .23);
    margin: 10px 0 0 0;
}

.repository-title {
    color: var(--main-pink) !important;
    display: flex;
    align-items: center;
    gap: 10px;
}

.repository-title h2{
    width: fit-content;
    margin: 0;
}

.repository-owner-container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.repository:hover{
    background: rgba(23, 23, 24, .5);
    transform: scale(1.02);
}

#projects-qnt-indicator {
    color: rgb(255 255 255 / .3);
}


@media screen and (max-width: 700px){
    .repository-desc, .repository-title{
        width: 80%;
    }   

    .repository-title{
        font-size: .8rem;
    }

    .repository-title .fa-github{
        display: none;
    }
    
}
